@using AdminManager.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Thêm nhân viên</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
                        @if (!string.IsNullOrEmpty(ViewBag.Mes))
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <label style="color:red">@ViewBag.Mes</label>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("add", "employee", FormMethod.Post))
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Tên nhân viên</label>
                                    <input name="model.FullName" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <input name="model.Username" type="text" class="form-control" required="">
                                </div>
                                <div class="form-group">
                                    <label>Vai trò</label>
                                    <select name="model.Role" class="form-control">
                                        <option class="form-control" value="EMPLOYEE">Nhân viên</option>
                                        <option class="form-control" value="BARTENDER">Pha chế</option>
                                        <option class="form-control" value="CASHIER">Thu ngân</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary" type="submit">Tạo mới</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="section-header">
            <h1>Danh sách nhân viên</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @if (!(string.IsNullOrEmpty(((string)ViewBag.TableMes))) && ((string)ViewBag.TableMes).Contains("thành công"))
                            {
                                <h4 style="color:green">@ViewBag.TableMes</h4>
                            }
                            else
                            {
                                <h4 style="color:red">@ViewBag.TableMes</h4>
                            }

                            <div class="card-header-form">
                                <div>
                                    <input id="searchValue" type="text" class="form-control" placeholder="Search" onchange="search(this.value)">
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">

                            <div class="table-responsive">
                                <table id="dataTable" class="table table-striped v_center">
                                    <tr>
                                        <th>Tên đăng nhập</th>
                                        <th>Tên nhân viên</th>
                                        <th>Ngày tạo</th>
                                        <th>Vai trò</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    @foreach (UserViewModel item in ViewBag.Users)
                                    {
                                        <tr>
                                            <td>@item.Username</td>
                                            <td>@item.FullName</td>
                                            <td>@item.DateCreated</td>
                                            <td>
                                                @switch (item.Role)
                                                {
                                                    case "BARTENDER":
                                                        <div class="badge badge-success">Pha chế</div>
                                                        break;
                                                    case "CASHIER":
                                                        <div class="badge badge-info">Thu ngân</div>
                                                        break;
                                                    case "EMPLOYEE":
                                                        <div class="badge badge-warning">Nhân viên</div>
                                                        break;
                                                }
                                            </td>
                                            <td><a href="employee/resetpassword?username=@item.Username" class="btn btn-success">Khôi phục mật khẩu</a></td>
                                            <td><a href="employee/remove?username=@item.Username" class="btn btn-danger">Xóa</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function search(value) {
        document.getElementById("searchValue").value = value;

        console.log(value);

        var input, filter, table, tr, td, i, txtValue;
        input = value;
        filter = input.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>